<?xml version="1.0" ?>
<xml>
<config id="dev">
	<!-- Main Config -->
	<skin>default</skin>
	<lang>fr</lang>
	<cache>false</cache>
	<debug>true</debug>
	<!-- Database Config -->
	<database host="localhost" user="root" password="root" dbname="RDLA_Core" connexionString="mysql:host=localhost;dbname=RDLA_Core"  />
	
	<!-- Custom Config -->
	<dla>84600</dla>
</config>
<config id="prod">
	<!-- Main Config -->
	<skin>default</skin>
	<lang>fr</lang>
	<cache>true</cache>
	<debug>false</debug>
	<!-- Database Config -->
	<database host="localhost" user="root" password="root" dbname="RDLA_Core" connexionString="mysql:host=localhost;dbname=RDLA_Core" />
	<!-- Custom Config -->
	<dla>84600</dla>
</config>
</xml>